 {
  box-sizing: border-box;  
}
html {
  font-family:'Playfair Display', cursive;
  font -size: 16px;
  }
header, footer {
    background:  #D6B3E4  ;
    width: 100%;
}

header {
    border-bottom: 2px solid  #000;
}

.wrapper{
      width: 90%;
      margin: 0 auto;
  } 

h1, h2{    
    color:  #0A0A0A  ;
    font family: 'Ranga', serif;
    }
    h1{
font-size: 2rem;
}
h2 {
font-size: 1.75rem;
}
h3 {
font-size: 1.25rem;
margin: 36px;
text-align: center;
}
